body,html{
	width:100%;
	height:100%;
}
#root{
	width:100%;
	height:100%;
}
#first_div{
	width:60%;
	height:30%;
	margin: auto;
	background-color:gray;
	display: flex;
	justify-content: center;
}
#fdc1{
	background-color:yellow;
}
#fdc2{
	background-color:purple;
}
.first_div_cell{
	display:block;
	height:100%;
	width:100%;
}
.def_textinput,.def_button{
	box-sizing: border-box;
	display: block;
	margin-top:0;
	width:100%;
	height:100%;
	font-size:400%;
}
.errordiv{
	text-align:center;
	color:red;
	font-size:400%;
}
.textdiv{
	width:100%;
	font-size:400%;
}
#adjacencymatrdiv{
	width:60%;
	margin: auto;
	background-color: yellow;
}
.adjacencyraw{
	width:100%;
}
.adjacencycelldiv{
	float: left;
	position: relative;
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color:black;
}
.content{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: black;
		font-size:400%;
		text-align:center;
}
.contentdiv{
	margin-bottom:33%;
	margin-top:33%;
}
.adjacencyselect{
	width:100%;
	font-size:100%;
}
#outfile,.endbutton{
	width:60%;
	align:center;
	margin:auto;
	font-size:400%;
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color:black;
	display: flex;
	justify-content: center;
}
.endbutton{
	background-color:#FF9999;
}
#outfile{
	background-color:#B2B0C6;
}
#link{
	display: none;
}
#mydiv{
	align:center;
}
body{
	margin:0;
}
.mainbutton{
	font-size:400%;
	width:100%;
	height:33%;
	background-color:#B2B0C6;
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color:black;
}
